@model IEnumerable<ReSellApp.Models.ForSale>

@{
    ViewData["Title"] = "Index";
}

<h1>Items for Sale</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-responsive table-striped">
    <thead>
        <tr>
            <th class="col-md-1.5">
                @Html.DisplayNameFor(model => model.SaleItem)
            </th>
            <th class="col-md-1.5">
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th class="col-md-.5">
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th class="col-md-1">
                @Html.DisplayNameFor(model => model.Zipcode)
            </th>
            <th class="col-md-1">
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th class="col-md-5">
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th class="col-md-1">
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th class="col-md-.5">
                @Html.DisplayNameFor(model => model.Sellers)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SaleItem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Zipcode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sellers.ID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
